{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>our page</title>
</head>
<body>
<h1>hello guys</h1>
<br>
<br><br>
    <p> This was gif made by google so i put it here.</p>

<img src="{% static 'chat_app/images/all_our.gif' %}" alt="ourall poto pgif" style="width:500px;height:333px;">
<br>
<br>
<br>
<br><br>

<img src="{% static 'chat_app/images/v1.jpg' %}" alt="no img" width="500" height="333">
<br><br><br><br>
<br>
<br>
<br>
<br>

<img src="{% static 'chat_app/images/v2.jpg' %}" alt="no img" width="500" height="333">
<br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/old.jpg' %}" alt="no img" width="500" height="333">
<br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/old2.jpg' %}" alt="no img" width="500" height="333">
<br>
<br>
<br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/pry.jpg' %}" alt="no img" width="500" height="333">
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/new.jpg' %}" alt="no img" width="500" height="333">
<br>
<br>
<br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/all2.jpg' %}" alt="no img" width="500" height="333">
<br>
<br>
<br>
<br>
<br>
<img src="{% static 'chat_app/images/all.jpg' %}" alt="no img" width="500" height="333">


</body>
</html>
